body {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: url(img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper {
  height: 500px;
  background-color: transparent;
  border: 2px solid white;
  backdrop-filter: blur(80px);
  width: 300px;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  color: purple;
}
.wrapper h1 {
  color: lightgoldenrodyellow;
  text-align: center;
  font-weight: 900;
  cursor: default;
}
.email-en {
  color: green;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 15px 10px;
}
.email-en input {
  border: 2px solid white;
  background: transparent;
  font-size: 20px;
  border-radius: 50px;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 50px;
  outline: none;
}
.email-en input::placeholder {
  color: white;
}
.email-en i {
  position: absolute;
  right: 30px;
  top: 20px;
}
.pass-en {
  color: white;
  margin: 15px 10px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.pass-en input {
  border: 2px solid white;
  background: transparent;
  font-size: 20px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 50px;
  outline: none;
}
.pass-en input::placeholder {
  color: white;
}
.pass-en i {
  position: absolute;
  right: 30px;
  top: 20px;
}
.remember-check {
  /* border: 2px solid red; */
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.remember-check label {
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
}
.remember-check a {
  color: white;
  text-decoration: none;
}
.remember-check a:hover {
  text-decoration: underline;
  color: white;
}
.btn {
  /* border: 2px solid red; */
  width: 100%;
  height: 50px;
  margin: 20px 0px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  font-weight: 500px;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn:hover {
  background-image: linear-gradient(
    to bottom right,
    blue,
    purple,
    red,
    yellow,
    green
  );
  color: white;
}
.wrapper p {
  color: white;
  text-align: center;
  font-size: 15px;
}
.wrapper p a {
  color: white;
}
.wrapper p a {
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
  color: white;
}
@media (max-width: 700px) and (min-width: 500px) {
  body {
    background: url(img2) no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
  }
  .wrapper {
    border: 5px solid black;
    backdrop-filter: blur(100px);
  }
  h1 {
    color: black !important;
  }
  .email-en {
    color: black;
  }
  .email-en input {
    border: 2px solid black;
  }
  .email-en input::placeholder {
    color: black;
  }
  .pass-en {
    color: black;
  }
  .pass-en input {
    border: 2px solid black;
  }
  .pass-en input::placeholder {
    color: black;
  }
  .remember-check {
    color: black;
  }
  .remember-check a {
    color: black;
  }
  .btn {
    color: white;
    text-shadow: white 2px 2px 2px;
    background-image: linear-gradient(
      TO bottom right,
      black,
      grey,
      BLACK,
      grey,
      black,
      grey,
      black
    );
  }
  .wrapper p {
    color: black;
  }
}
